---
- name: check if letsencrypt dir exists
  stat:
    path: /etc/letsencrypt/live/{{ inventory_hostname }}/
  register: letsencrypt_dir

- name: Create fullchain symbolic link
  when: letsencrypt_dir.stat.exists
  file:
    src: /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem
    dest: /etc/ipsec.d/certs/fullchain.pem
    state: link

- name: Create privkey symbolic link
  when: letsencrypt_dir.stat.exists
  file:
    src: /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem
    dest: /etc/ipsec.d/private/privkey.pem
    state: link

# ln -s /etc/letsencrypt/live/ca1.moukafih.nl/chain.pem /etc/ipsec.d/cacerts/chain.pem
- name: Create chain symbolic link
  when: letsencrypt_dir.stat.exists
  file:
    src: /etc/letsencrypt/live/{{ inventory_hostname }}/chain.pem
    dest: /etc/ipsec.d/cacerts/chain.pem
    state: link 
