---
- name: Get current version
  ansible.builtin.shell: ipsec version | cut -f3 -d' ' | cut -f1 -d'/' | cut -f2 -d'U' | head -n1
  register: current_version
  changed_when: false

- name: Check if ipsec is already installed
  ansible.builtin.debug:
    msg: "Current ipsec version is {{ current_version.stdout }}"

- name: Compile strongswan from source code
  ansible.builtin.include_tasks: install.yml
  when: current_version.stdout != strongswan_version

- ansible.builtin.include_tasks: setup.yml
- ansible.builtin.include_tasks: letsencrypt.yml

- name: Restart strongSwan
  ansible.builtin.service:
    name: strongswan-starter.service
    state: restarted
    enabled: yes
