# https://wiki.strongswan.org/projects/strongswan/wiki/connsection
config setup
    uniqueids=never # allow multiple connections per user
    charondebug="ike 2, knl 2, cfg 2, net 2, esp 2, dmn 2, mgr 2"

conn %default
    keyexchange=ikev2

    left=%any
    leftid=@{{ inventory_hostname }}
    leftcert=fullchain.pem
    leftsendcert=always
    leftsubnet=0.0.0.0/0                # Provide access to the full Internet

    right=%any                          # Accept connections from any IP
    rightid=%any
    rightsourceip=30.20.10.0/24        # Virtual IP addresses for clients
    rightdns=8.8.8.8,8.8.4.4            # DNS for the clients
    rightsendcert=never

conn ikev2-eap
    rightauth=eap-radius
    #rightauth=eap-mschapv2 # users are stored in /etc/ipsec.secrets
    #eap_identity=%identity
    auto=add                            # Automatically add the connection

# For iPhone 8 with iOS 16.7
conn xauth-psk
    keyexchange=ikev1                   # Use IKEv1 for XAuth + PSK
    xauth=server                        # Server-side XAuth
    authby=xauthpsk                     # Authenticate using XAuth with PSK
    auto=add

# For Android IKEv2/IPSec PSK
conn ikev2-psk
    authby=secret
    auto=add
